{{- $newsletterlink := i18n "newsletterlink" | default "https://d69baa34.sibforms.com/serve/MUIEAJWIw9w82Dl4ua6FQArPaI-3Qb-zVTwPNabHQgFH51MiGF69Smy9LOC_HPoUmBj0emaXsXT87gcQXDPvtu-AZsJCHWhkkv21CdrcQu4GdnYAhZ-MrIPhwGDecagLzYxqfvkaqXg2ODcbJU4ByoDmzJK3ZTczDo2jcWtfn-En0MGKLVkgxx9TgdHqYoPabMJCMF-agLEclEwv"
-}}
<div class="post-footer">
    
    <ul>
        if you'd like to have a video documentation and/or a more detailed, picture-heavy text documentation on any project, feel free to contact me at matthias.naegeli [at] zhdk [dot] ch :)<br>
        i will gladly provide a folder with all the data i have
    </ul>
    
</div>
